<%- include('./partials/header') -%>

<link rel="stylesheet" href="/css/editarReview.css">
<script src="/js/header.js"></script>

<form action="/users/edit-review/<%= review.id %> " method="POST">
    <input type="text" name="serie_id" value="<%= review.serie_id %>" id="id"><br>
    <textarea name="comment" id="" cols="60" rows="10"><%= review.message %></textarea><br>
    <select name="rating">
        <% for( let i = 0; i < 10; i++ ) { %>
            <% if (i + 1 == review.rating ) { %>
                <option value=<%= i + 1 %> selected>
                    <%= i + 1 %> 
                </option>
            <% } else { %>
                <option value=<%= i + 1 %>>
                    <%= i + 1 %>
                </option>
            <% } %>
        <% } %>
    </select> <br>
    <button>Save</button>
</form>

<%- include('./partials/footer') -%>