<%- include('./partials/header') -%>

    <script src="/js/perfilUsuario"></script>
    <link rel="stylesheet" href="/css/perfilUsuario">

    <h1><%= user.username %> </h1>

    <h3>Reviews</h3>
    <% for( let i = 0; i < user.review.length; i++ ) { %>
        <div>
            <%= user.review[i].id %>
            <%= user.review[i].serie_id %> <br>
            <%= user.review[i].message %> 
            <%= user.review[i].rating %>
        </div>
        
        <a href="/users/edit-review/<%= user.review[i].id %>" ><button>Edit</button></a>
        <form action="/users/delete-review/<%= user.review[i].id %>" method="POST">
            <button type="submit">Delete</button>
        </form>
    <% } %>

    <a href="/users/delete/<%= user.id %>"><button>Delete User</button></a>

<%- include('./partials/footer') -%>